# Data
**/Data/
**/datasets/images/
**/datasets/labels/
**/datasets/sample_submission.csv

# Model
**/models/

# Output
**/Output/
**/runs/

# pycache
**/__pycache__/

# Etc
**/.ipython/
**/.jupyter/
**/.local/
**/.npm/
**/.cache/
**/.nv/
**/.bash_history
